:root{
--nav-bg-color:#b11e31;
--ivory-white:#EED6BB;
--footer-bg-color:#8a1a27;
--hover-font-color:#E0E0E0;
--hover-bg-color: #E03E52;
--visited-link-navbar:#4deaff;
}
*{
    margin:0;
    padding: 0;
}
body{
    font-size:1.1rem;
    min-height: 100vh;
    background-color: var(--ivory-white);
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    
}
@media(max-width:767px){
    body{
        height:fit-content;
    }
}

header{
    background-color: var(--nav-bg-color);
}

ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-content: center;
    text-align: center;
}
header nav ul li{
    height:3rem;
    width:6.5rem;
}
@media(max-width:767px){
    ul{
        flex-direction: column;
    }
header nav ul li{
        width:100%;
    }
}


#container{
    display:grid;
    height:fit-content;
    width:fit-content;
    grid-template-columns:repeat(3,1fr);
    grid-template-rows:repeat(3,1fr);
    gap: 2.5rem;
}

main{
    height:fit-content;
    margin:3rem;
    
}
article{
    display: flex;
    flex-direction: column;
    height:fit-content;
    align-items:center;
    border-radius: .1rem;
}
article div{
    height:3rem;
    width:80%;
    font-size: .7rem;
}
img{
    height: 7rem;
    width:auto;
    max-width:100%;
    object-fit:contain;
}
.photo{
    height:fit-content;
    display:flex;
    justify-content: center;
}

@media(max-width:767px){
    main{
        flex:1;
        display:flex;
        width:100%;
        justify-content:center;
    }
    #container{
        display:flex;
        align-items:center;
        flex-direction:column;
        height:fit-content;
        width: fit-content;
        gap:3rem;
    }
    article{
        min-height:25rem;
        height:auto;
        display:flex;
        width:100%;
        flex-direction:column;
        justify-content:center;
        flex-grow:0;
    }
    article img{
    object-fit: cover; 
    max-width: 100%;
    height: 15rem; 
    }
    

}
#aa{
    grid-column:1/2;
    grid-row:1/2;
}
#ab{
    grid-column:2/3;
    grid-row:1/2;
}







.nav-button{
    display:flex;
    align-items:center;
    justify-content: center;
    width:100%;
    height:100%;
    
}
a{
    text-decoration:none;
    color:#FFFFFF;
}

a:hover{
    background-color: var(--hover-bg-color);
    color:var(--hover-font-color);
}
a:visited{
    color: var(--visited-link-navbar);
}


footer{
    background-color: var(--footer-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7rem;
}