:root{
--nav-bg-color:#b11e31;
--ivory-white:#EED6BB;
--footer-bg-color:#8a1a27;
--hover-font-color:#E0E0E0;
--hover-bg-color: #E03E52;
--visited-link-navbar:#4deaff;
}
*{
    margin:0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
}
body{
    font-size:1.1rem;
    min-height: 100vh;
    background-color: var(--ivory-white);
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    
}


header{
    background-color: var(--nav-bg-color);
    width:100%;
}


ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-content: center;
    text-align: center;
}
textarea{
    height:5rem;
}
input{
    background-color:#EED6BB;
    border:solid 1px grey;
    width:20rem;
    height:2rem;
    padding:.4rem;
    border-radius:1.5rem;
}
label{
    width:100%;
}

input[type="submit"]{
    background-color: #333;
    color:#fff;
    border: solid 1px #333;
    border-radius:.3rem;
    width:7rem;
}
textarea{
    background-color:#EED6BB;
    resize: none;
    padding:.5rem .8rem;
    height:8rem;
    border:solid 1px grey;
    border-radius:1.5rem;

}

form{
    display:flex; 
    flex-direction:column; 
    align-items:center;
    gap:.5rem;
    width:fit-content;
    height: fit-content;
    margin:auto;
    margin-top:3rem;
    background-color: #F5F1EB;
    padding: 3rem 2rem;
}

@media(max-width:767px){
    main{
        height: fit-content;
    }
    ul{
        display: flex;
        flex-direction:column;
    }
    ul li{
        width:100%;
    }
    form{
        margin:1rem;
        margin-left:auto;
        margin-right:auto;
        max-width:100vh;
    }
    input{
        width:100%;
    }
    input[type="submit"]{
        width:10rem;
    }
    textarea{
        width:100%;
    }
    
}
textarea{
    width:100%;
}
header nav ul li{
    height:3rem;
}
li{
    width:6.5rem;
}




main{
    min-height:100vh;
}
    




.nav-button{
    display:flex;
    align-items:center;
    justify-content: center;
    width:100%;
    height:100%;
    
}
a{
    text-decoration:none;
    color:#FFFFFF;
}

a:hover{
    background-color: var(--hover-bg-color);
    color:var(--hover-font-color);
}
a:visited{
    color: var(--visited-link-navbar);
}


footer{
    background-color: var(--footer-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7rem;
}




