:root{
--nav-bg-color:#b11e31;
--ivory-white:#EED6BB;
--footer-bg-color:#8a1a27;
--hover-font-color:#E0E0E0;
--hover-bg-color: #E03E52;
--visited-link-navbar:#4deaff;
}
*{
    margin:0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
}
body{
    font-size:1.1rem;
    min-height: 100vh;
    background-color: var(--ivory-white);
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    
}

header{
    background-color: var(--nav-bg-color);
}

ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-content: center;
    text-align: center;
}
header nav ul li{
    height:3rem;
    width:6.5rem;
}


#container{
    display:grid;
    height:fit-content;
    width:100%;
    grid-template-columns:repeat(auto-fill,20rem);
    place-content:center;
    gap: 2.5rem;
}

main{
    min-height:100vh;
    height:fit-content;
    margin:3rem;
    padding: 1rem;
    background-color: #EED6BB;
    display:flex;
    justify-content:center;
}
article{
    display: flex;
    flex-direction: column;
    height:fit-content;
    align-items:center;
    border-radius: .1rem;
    background-color:lightblue;
}
article div{
    height:3rem;
    width:100%;
    font-size:.8rem;
    text-align:center;
}
img{
    height:auto;
    width:100%;
}
.photo{
    height:fit-content;
    
}

@media(max-width:767px){
    body{
        height:fit-content;
        width:100%;
    }
    ul{
        flex-direction: column;
    }
    header{
        width:100%;
    }
    header nav ul li{
        width:100%;
    }
    
    main{
        flex:1;
        max-width:100%;
        margin:1rem;
        padding:0;
    }
}

.nav-button{
    display:flex;
    align-items:center;
    justify-content: center;
    width:100%;
    height:100%;
    
}
a{
    text-decoration:none;
    color:#FFFFFF;
}

a:hover{
    background-color: var(--hover-bg-color);
    color:var(--hover-font-color);
}
a:visited{
    color: var(--visited-link-navbar);
}


footer{
    background-color: var(--footer-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7rem;
}