:root{
--nav-bg-color:#b11e31;
--ivory-white:#EED6BB;
--footer-bg-color:#8a1a27;
--hover-font-color:#E0E0E0;
--hover-bg-color: #E03E52;
--visited-link-navbar:#4deaff;
}
*{
    margin:0;
    padding: 0;
}
body{
    font-size:1.1rem;
    min-height: 100vh;
    background-color: var(--ivory-white);
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    
}

header{
    background-color: var(--nav-bg-color);
}

ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-content: center;
    text-align: center;
}
header nav ul li{
    height:3rem;
}
@media(max-width:767px){
    ul{
        flex-direction: column;
    }
}

li{
    width:6.5rem;
}
@media(max-width:767px){
    li{
        width:100%;
    }
}

#container{
    display:grid;
    height:100%;
    width:100%;
    grid-template-columns:repeat(3,fr);
    grid-template-rows:repeat(3,fr);
}
@media(max-width:767px){
    #container{
        display:flex;
        flex-direction:column;
    }
}

main{
    height:100vh;
    display:flex;  
}

.nav-button{
    display:flex;
    align-items:center;
    justify-content: center;
    width:100%;
    height:100%;
    
}
a{
    text-decoration:none;
    color:#FFFFFF;
}

a:hover{
    background-color: var(--hover-bg-color);
    color:var(--hover-font-color);
}
a:visited{
    color: var(--visited-link-navbar);
}


footer{
    background-color: var(--footer-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7rem;
}