:root{
--nav-bg-color:#b11e31;
--ivory-white:#EED6BB;
--footer-bg-color:#8a1a27;
--hover-font-color:#E0E0E0;
--hover-bg-color: #E03E52;
--visited-link-navbar:#4deaff;
}
*{
    margin:0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
}
body{
    font-size:1.1rem;
    min-height: 100vh;
    background-color: var(--ivory-white);
    display: flex;
    flex-direction:column;
    justify-content: center;
    
}

header{
    background-color: var(--nav-bg-color);
}

ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-content: center;
    text-align: center;
}
header nav ul li{
    height:3rem;
    width:6.5rem;
}

main{
    min-height:100vh;
    height:fit-content;
    background-color: #EED6BB;
    display:flex;
    flex-direction: column;
    align-items:center;
    padding:1rem;
}
h1{
    margin-top:2rem;
}
#container{
    display:grid;
    grid-template-columns:repeat(auto-fill,20rem);
    gap:1rem;
    padding-top:2rem;
    width:100%;
    place-content:center;
}
img{
    width:20rem;
    height:auto;
}


@media(max-width:767px){
    body{
        height:fit-content;
        width:100%;
        display:flex;
        justify-content:center;
    }
    ul{
        flex-direction: column;
    }
    header nav ul li{
        width:100%;
    }
    
    main{
        margin:auto;
        flex: 1;
        height: fit-content;
        display:flex;
        flex-direction:column;
        align-items:center;
        max-width:100%;
        margin:0;
        padding:0;
        
    }
    h1{
        margin-top:.5rem;
        margin-left:.5rem;
    }
}
.nav-button{
    display:flex;
    align-items:center;
    justify-content: center;
    width:100%;
    height:100%;
    
}
a{
    text-decoration:none;
    color:#FFFFFF;
}

a:hover{
    background-color: var(--hover-bg-color);
    color:var(--hover-font-color);
}
a:visited{
    color: var(--visited-link-navbar);
}


footer{
    background-color: var(--footer-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7rem;
}
article{
    max-width:100%;
}
img{
    max-width:100%;
    height:auto
}
